<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="icon" href="/elementos/FABICON.ico" type="image/png">

	<!-- Stylesheets
	============================================= -->
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />

	<!-- FontAwesome -->
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	
    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">
	<!-- Preloader Start -->
	<div id="preloader-active">
		<div class="preloader d-flex align-items-center justify-content-center">
			<div class="preloader-inner position-relative">
				<div class="text-center">
					<img src="/elementos/loader.gif" style="width:50%;height:auto;margin:auto" alt="" />
				</div>
			</div>
		</div>
	</div>
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-md" data-mobile-sticky="true" style="border:none!important">
			<div id="header-wrap">
				<div class="container" >				
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" style="border:none!important">
							<a href="/index.html" class="standard-logo"><img style="padding:5%" src="/elementos/LOGOTIPO/LOGOTIPO-NEGRO.png" alt="Canvas Logo"></a>
							<a href="/index.html" class="retina-logo"><img style="padding:5%" src="/elementos/LOGOTIPO/LOGOTIPO-NEGRO.png" alt="Canvas Logo"></a>
						</div><!-- #logo end -->


						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu" >


							<ul class="menu-container" style="border:none!important">
								<li class="menu-item "><a class="menu-link" href="/index.html"><div>Inicio</div></a></li>
								<li class="menu-item "><a class="menu-link" href="/gobcentral/index.html"><div>Gobierno Central</div></a></li>
								<li class="menu-item "><a class="menu-link" href="/municipal/index.html"><div>Municipal</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/obraspublicas/index.html"><div>Obras Públicas</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/contratacionespublicas/index.html"><div>Contrataciones Públicas</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/blogs/index.html"><div>Blog</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/eventos/index.html"><div>Eventos</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/contacto/index.html"><div>Contacto</div></a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		{% block content %}
        {% endblock %} 

				<!-- Footer
		============================================= -->

		<!-- footer-area-start -->
        <footer>
            <div class="footer-middle-area pt-80 pb-25" style="background-image:url(/elementos/03.png);   ">
                <div class="container">
                    <div class="row" style="justify-content:space-between">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="footer-wrapper mb-30">
                                <div class="footer-logo">
                                    <a target="_blank" href="https://redciudadana.org/"><img src="/elementos/LOGO-RED_BLANCO.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-3 col-sm-9">
                            <div class="d-flex align-items-center justify-content-end">
                                <a target="_blank" style="margin:0 3px" href="https://www.facebook.com/Redciudadanagt"><img src="/elementos/REDES-27.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://twitter.com/redxguate"><img src="/elementos/REDES-28.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.instagram.com/redxguate/"><img src="/elementos/REDES-29.png"></a>
                                <a target="_blank" style="margin:0 3px" href="https://www.youtube.com/channel/UCQwc62j7beStZYFzwPxBEQg"><img src="/elementos/REDES-30.png"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-40 mb-40">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <img src="/elementos/09.png">
                        </div>
                    </div>
                    <div class="footer-bottom-area pt-25 mt-45" style="border-top:none">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="copyright text-center">
                                    <a href="https://redciudadana.org/"><p style="color:#fff!important"><!--i class="far fa-copyright"></i> 2020 <a href="#">Fundee.</a--> Asociación Civil Red Ciudadana</p></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-area-end -->

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="/js/functions.js"></script>

	<script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

	<script>
		(function ($) {
			("use strict");
			// Page loading
			$(window).on("load", function () {
				$("#preloader-active").delay(450).fadeOut("slow");
				$("body").delay(450).css({
					overflow: "visible"
				});
				$("#onloadModal").modal("show");
			});
		
		})(jQuery);
	</script>

    {% block body_javascripts %}

    {% endblock %}

	</body>
</html>
