---
permalink: "blogs/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Observatorio Fiscal | Eventos</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('/elementos/SLIDER/SLIDER-02.png')">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider" style="font-size:40px!important">Blogs
						</h2>

					</div>
				</div>
			</div>
        </section>
		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

		<!-- Blogs y Podcasts
		============================================= -->
		<section>
			<div>
				<div class="container my-4">
					<div class="row text-center mb-5"  style="gap:60px;align-items:flex-start">
						<!--div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div-->

						<div class="row posts-md col-mb-30 col-xl-12 col-sm-12">

							<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Lo último</h2>

							{% for blog in collections.blogs | reverse | limit(5) %}
					
				
							<a href="{{blog.url}}" class="flex border-b-2 pb-4 mb-4 text-current responsive">
							<img src="{{ blog.data.image }}" alt="Evento" class="w-36">
							<div class="pl-8 my-auto" style="text-align:left">
								<h5 class="font-bold text-lg">
								{{blog.data.title }}
								</h5>
								<span class="text-sm">
								{{blog.data.date | dateFormat('DD/MM/YYYY')}}
								</span><br>
								<span class="text-sm">
								{{blog.data.description}}
								</span>
							</div>
							</a>

							{% endfor %}

							
				
						</div>						

					</div>	
				</div>
			</div>
		</div>
	</section>

{% endblock %}