---
permalink: "contratacionespublicas/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Contratacionces Públicas | Observatorio Fiscal</title>
{% endblock %}

{% block content %}
    {% for item in collections.contratacionespublicas %}
    {% if item.data.higlhight === True %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('{{item.data.slider}}');background-size:100%;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider" style="font-size:40px!important">Contrataciones Abiertas</h2>
						<h2 class="text-slider2">¿Quién, qué y cómo compramos? Explora "Contrataciones Públicas" para ver cómo el gobierno selecciona proveedores y administra contratos. Esta página te permite revisar los procesos de compra y asegurarte de que se hagan de manera justa y transparente. ¡Sé un observador activo de las compras públicas!
						</h2>

					</div>
				</div>
			</div>
        </section>


		<!-- Section Grafica 1
		============================================= -->
		<section>
			<div class="section py-4 my-6" style="background-color: #fff">
				<div class="container">
					<div class="row justify-content-center align-items-center col-mb-50">
						<div class="col-lg-12">
							<p>Las contrataciones públicas, un componente esencial de la administración gubernamental, juegan un papel vital en el desarrollo económico y la transparencia de un país. En Guatemala, el sistema Guatecompras se ha establecido como la plataforma central para gestionar las adquisiciones gubernamentales, promoviendo la eficiencia y la transparencia en este proceso.
							</p>
							<p>Las contrataciones públicas se refieren al proceso por el cual las entidades gubernamentales adquieren bienes, servicios o trabajos de fuentes externas. Este proceso está diseñado para garantizar que las adquisiciones se realicen de manera justa, transparente y económicamente eficiente, maximizando el valor del dinero público.</p>
							<br>
							<h1 class="text-titles">Adjudicaciones por Concurso 2023</h1>
							<br>
							<p>Las adjudicaciones por concurso son una modalidad de contratación pública donde diferentes proveedores compiten para obtener un contrato gubernamental presentando sus propuestas. En 2023, Guatecompras ha facilitado numerosos concursos, reflejando una amplia gama de necesidades gubernamentales, desde infraestructura hasta servicios y suministros.</p>
						</div>
						<div class="col-lg-12">
							{{item.data.grafica | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Tabla 1
		============================================= -->
		<section>
			<div class="section py-4 my-6" style="background-color: #fff">
				<div class="container">
					<div class="row justify-content-center align-items-center col-mb-50">
						<div class="col-lg-12">
							<h1 class="text-titles">Ofertas Presentadas 2023</h1>
							<br>
							<p>Las ofertas presentadas en 2023 reflejan la actividad económica y la participación de las empresas en los procesos de contratación pública. Estas ofertas, registradas y accesibles a través de Guatecompras, proporcionan una visión clara de cómo las empresas responden a las necesidades gubernamentales.</p>
						</div>
						<div class="col-lg-12">
							{{item.data.tabla | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section 3
		============================================= -->
		<section>
			<div class="section py-4 my-6" style="background-color: #fff">
				<div class="container">
					<div class="row justify-content-center align-items-center col-mb-50">
						<div class="col-lg-12">
							<h1 class="text-titles">Fortaleciendo la Transparencia y la Eficiencia</h1>
							<br>
							<p>Las contrataciones públicas son un aspecto crítico de la administración gubernamental, y herramientas como Guatecompras desempeñan un papel fundamental en la mejora de la transparencia y eficiencia de este proceso. Al analizar las adjudicaciones por concurso y las ofertas presentadas en 2023, podemos obtener valiosos insights sobre el estado de las contrataciones públicas en Guatemala, identificar áreas de mejora y reconocer el papel de la transparencia en la construcción de un gobierno más eficiente, responsable y al servicio de sus ciudadanos.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

    {% endif %}
    {% endfor %}

{% endblock %}