---
permalink: "contratacionespublicas/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Contratacionces Públicas | Observatorio Fiscal</title>
{% endblock %}

{% block content %}
    {% for item in collections.contratacionespublicas %}
    {% if item.data.higlhight === True %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('{{item.data.slider}}');background-size:cover;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider">Contrataciones Públicas</h2>
						<h2 class="text-slider2">Explora como comprar tu gobierno filtrando por etapa de proceso de compra,
							dependencia o proveedores
						</h2>

					</div>
				</div>
			</div>
        </section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

		<!-- Nosotros
		============================================= -->

				<div class="container clearfix">
					<div class="row my-4">
						<h2 class="text-titles">Datos Sobre Presupuesto</h2>
					</div>

					<div class="row justify-content-center col-mb-50">
						<div class="col-sm-12 col-lg-4">
							<div class="d-flex">
								<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-16.png">
								<div class="fbox-content px-0 ">
									<h1 class="text-titles2">PRESUPUESTO</h1>
									<p class="text-titles m-0">Q {{item.data.resumen1}}</p>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4 d-flex justify-content-center">
							<div class="feature-box media-box">
								<div class="d-flex">
									<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-18.png">
									<div class="fbox-content px-0 ">
										<h1 class="text-titles2">EJECUCIÓN</h1>
										<p class="text-titles m-0">Q {{item.data.resumen2}}</p>
									</div>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4 d-flex justify-content-end">
							<div class="feature-box media-box">
								<div class="fbox-content px-0 ">
									<div class="d-flex">
										<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-17.png">
										<div class="fbox-content px-0 ">
											<h1 class="text-titles2">% EJECUCIÓN</h1>
											<p class="text-titles m-0">{{item.data.resumen3}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!-- Section Grafica 1
		============================================= -->
		<section>
			<div>
				<div class="section py-6 my-6" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.grafica | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Tabla 1
		============================================= -->
		<section>
			<div>
				<div class="section py-6 my-6" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.tabla | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

    {% endif %}
    {% endfor %}

{% endblock %}