---
permalink: "/datosabiertos/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Observatorio Fiscal | Datos Abiertos</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('/elementos/SLIDER/SLIDERS/2000x300/WEB_PA_ELEMENTOS_04.png');background-size:cover;">
			<div class="container" style="padding: 20px 0;">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider">Datos Abiertos
						</h2>

            <p class="text-slider2">Tu acceso a la transparencia ¡Los datos son poder! Y en nuestra sección "Datos Abiertos", te damos el poder. Accede libremente a datos gubernamentales en formatos fáciles de usar y analizar. Estudiantes, activistas, y funcionarios pueden usar esta información para investigar, innovar y mejorar nuestro país.</p>

					</div>
				</div>
			</div>
        </section>

        <!-- Content
		============================================= -->
		<section id="content" style="background-color: #e7ecf3;">
			<div class="content-wrap py-4">

				<!-- datos abiertos
				============================================= -->

				<div class="container clearfix py-2">
					<div class="row my-1 py-6">
            <div class="col-lg-12">
              <div class="table-container">
                <div class="table-header">
                  <div class="table-cell" style="flex:0.3"><!--i class="fa-regular fa-user" style="padding-right:5px"--></i>Nombre</div>
                  <div class="table-cell" style="flex:0.1">Sector</div>
                  <div class="table-cell" style="flex:0.1">Fecha</div>
                  <div class="table-cell" style="flex:0.3">Descripción</div>
                  <div class="table-cell" style="flex:0.1">Enlace</div>
                  <div class="table-cell" style="flex:0.1">Formato</div>
                </div>
                <div class="table-body">
                  {% for dato in  collections.datosabiertos%}
                  <div class="table-row">
                    <div class="table-cell"  style="flex:0.3"> {{dato.data.numero}}</div>
                    <div class="table-cell"  style="flex:0.1">{{dato.data.sector}}</div>
                    <div class="table-cell"  style="flex:0.1"> {{dato.data.fecha | dateFormat('DD/MM/YYYY')}}</div>
                    <div class="table-cell"  style="flex:0.3">{{dato.data.descripcion}}</div>
                    <div class="table-cell"  style="flex:0.1"> {{dato.data.formato}}</div>
                    <div class="table-cell" style="display:block;text-align:center;flex:0.1">
                        <a href="{{dato.data.enlace}}" class="page-button">Descarga </a>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>

{% endblock %}