---
permalink: "gobcentral/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Gobierno Central | Observatorio Fiscal</title>
{% endblock %}

{% block content %}
    {% for item in collections.gobcentral %}
    {% if item.data.higlhight === True %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('{{item.data.slider}}');background-size:100%;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex" style="justify-content:space-between">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<h2 class="text-slider">Gobierno Central</h2>
						<h2 class="text-slider2">Conoce información detallada sobre la ejecución presupuestaria de forma mensualizada a nivel
							trnasaccional. Además, enconrtarás información de instituciones relacionadas, evolución delpago/debengo, proveedroes/receptores 
							y pagos de horarios.
						</h2>
						<span class="span-slider">*Presupuesto se nutre con los datos e enformaciones que produce cada organismo e institución, los que son de su exclusica responsabilidad</span>
					</div>
					<div class="col-lg-5 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-4 borde-slider">
								<div class="mx-4">
									<p class="text-slider2" style="margin-bottom:0!important">AÑO</p>
									<h2 class="text-slider" style="font-size:50px!important">{{item.data.ano}}</h2>
								</div>
							</div>
							<div class="col-lg-8 col-sm-8">
								<div class="mx-4">
									<p class="text-slider2 d-flex align-items-center"><img style="width: 30px;height: 30px;padding-right: 10px;" src="/elementos/02_ICONOS/ICONO-24.png">Estado de avance 30-05-2022</p>
									<h2 class="text-slider" style="font-size:45px!important">Q{{item.data.resumen1}}</h2>
									<p class="text-slider2">PRESUPUESTO DEVENGADO</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>



		<!-- Section Grafica 1
		============================================= -->
		<section>
			<div>
				<div class="section py-4" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.grafica | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Tabla 1
		============================================= -->
		<section>
			<div>
				<div class="section py-4 my-6" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.tabla | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

    {% endif %}
    {% endfor %}

{% endblock %}