---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Observatorio Fiscla | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('/elementos/SLIDER/SLIDER-02.png')">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider">Conoce información detallada sobre los recursos asignados y su ejecución mensual a nivel nacional
						</h2>

					</div>
				</div>
			</div>
        </section>

{% endblock %}