---
permalink: "justicia/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Justicia | Observatorio Fiscal</title>
{% endblock %}

{% block content %}
    {% for item in collections.justicia %}
    {% if item.data.higlhight === True %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('{{item.data.slider}}');background-size:100%;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex" style="justify-content:space-between">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<h2 class="text-slider">Justicia</h2>
						<br>
						<h2 class="text-slider2">Conoce información detallada sobre la ejecución presupuestaria de forma mensualizada a nivel
							trnasaccional. Además, enconrtarás información de instituciones relacionadas, evolución delpago/debengo, proveedroes/receptores 
							y pagos de horarios.
						</h2>
						<br>
						<span class="span-slider">*Presupuesto se nutre con los datos e enformaciones que produce cada organismo e institución, los que son de su exclusica responsabilidad</span>
					</div>
					<div class="col-lg-5 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<div class="row align-items-center">
							<div class="col-lg-4 col-sm-4 borde-slider">
								<div class="mx-4">
									<p class="text-slider2" style="margin-bottom:0!important">AÑO</p>
									<h2 class="text-slider" style="font-size:50px!important">{{item.data.ano}}</h2>
								</div>
							</div>
							<div class="col-lg-8 col-sm-8">
								<div class="mx-4">
									<p class="text-slider3 d-flex align-items-center"><img style="width: 30px;height: 20px;padding-right: 10px;" src="/elementos/02_ICONOS/ICONO-24.png">Estado de avance 30-05-2022</p>
									<h2 class="text-slider" style="font-size:45px!important">Q{{item.data.resumen1}}</h2>
									<p class="text-slider2">PRESUPUESTO APROBADO</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
        </section>

		<section>
			<div>
				<div class="container clearfix py-6">
					<div class="row my-1 py-1">
						<h2 class="text-titles">Datos Sobre Presupuesto: </h2>
						<h2 class="text-titles2">Fecha de Última Actualización {{item.data.fechaactualizaciong | dateFormat('DD/MM/YYYY')}}</h2>
					</div>

					<div class="row justify-content-center ">
						<div class="col-sm-12 col-lg-4">
							<div class="d-flex cuadro_new">
								<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-16.png">
								<div class="fbox-content px-0 ">
									<h1 class="text-titles2">PRESUPUESTO</h1>
									<p class="text-titles m-0">Q {{item.data.resumen1}}</p>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4">
							<div class="d-flex cuadro_new">
								<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-16.png">
								<div class="fbox-content px-0 ">
									<h1 class="text-titles2">EJECUCIÓN</h1>
									<p class="text-titles m-0">Q {{item.data.resumen2}}</p>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-lg-4">
							<div class="d-flex cuadro_new">
								<img width="80px" style="padding:5px" src="/elementos/02_ICONOS/ICONO-16.png">
								<div class="fbox-content px-0 ">
									<h1 class="text-titles2">% EJECUCIÓN</h1>
									<p class="text-titles m-0">{{item.data.resumen3}}</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</section>



		<!-- Section Grafica 1
		============================================= -->
		<section id="ejecucion">
			<div class="section py-4" style="background-color: #fff">
				<div class="container">
					<div class="row justify-content-center align-items-center col-mb-50">
						{{item.data.grafica | safe}}
					</div>
				</div>
			</div>
		</section>

		<!-- Section Tabla 1
		============================================= -->
		<section>
			<div class="section py-4 my-6" style="background-color: #fff">
				<div class="container">
					<div class="row justify-content-center align-items-center col-mb-50">
						{{item.data.tabla | safe}}
					</div>
				</div>
			</div>
		</section>

		<!-- Gasto Publico
		============================================= -->
		<section id="gastopublico">
			<div class="section pt-2 pb-6  my-6" style="background-color: #fff">
				<div class="container">
					<div class="row mb-4">
						<div class="col-lg-12 text-center">
							<h2 class="text-titles">Gasto Público</h2>
						</div>
					</div>
					<div class="row col-mb-50">
						{% for blog in collections.gaspubeje%}
						<div class="col-lg-4 h-100">
							<a href="{{blog.url}}" class="blog-box h-100">
								<img src="{{ blog.data.image }}" alt="Evento" class="w-36">
								<div class="pl-8 my-auto" style="text-align:left">
									<h5 >
									{{blog.data.title }}
									</h5>
									<p >
									{{blog.data.date | dateFormat('DD/MM/YYYY')}}
									</p>
									<p >
									{{blog.data.description}}
									</p>
								</div>
							</a>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</section>

		<!-- Herramientas de Analisis
		============================================= -->
		<section id="herramientas">
			<div class="section pt-2 pb-6 my-6" style="background-color: #fff">
				<div class="container">
					<div class="row mb-4">
						<div class="col-lg-12 text-center">
							<h2 class="text-titles">Herramientas de Análisis</h2>
						</div>
					</div>
					<div class="row justify-content-center align-items-center col-mb-50">
						{{item.data.herramientaanalisis | safe}}
					</div>
				</div>
			</div>
		</section>

    {% endif %}
    {% endfor %}

{% endblock %}