---
permalink: "obraspublicas/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Obras Públicas | Observatorio Fiscal</title>
{% endblock %}

{% block content %}
    {% for item in collections.obraspublicas %}
    {% if item.data.higlhight === True %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('{{item.data.slider}}');background-size:cover;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-6 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider" style="font-size:40px!important">Obras Públicas</h2>
						<h2 class="text-slider2">Conoce información detallada sobre la ejecución presupuestaria de forma mensualizada a nivel
							trnasaccional. Además, enconrtarás información de instituciones relacionadas, evolución delpago/debengo, proveedroes/receptores 
							y pagos de horarios.
						</h2>

					</div>
				</div>
			</div>
        </section>

		<!-- Section Grafica 1
		============================================= -->
		<section>
			<div>
				<div class="section py-4 my-6" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.grafica | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Section Tabla 1
		============================================= -->
		<section>
			<div>
				<div class="section py-4 my-6" style="background-color: #fff">
					<div class="container">
						<div class="row justify-content-center align-items-center col-mb-50">
							{{item.data.tabla | safe}}
						</div>
					</div>
				</div>
			</div>
		</section>

    {% endif %}
    {% endfor %}

{% endblock %}