---
permalink: "/redflags/index.html"
---

{% extends "src/base2.njk" %}

{% block head %}
<title>Red Ciudadana - RedFlags</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('/elementos/rerdflags/REDF-12.png');background-size:100%;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-8 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider" style="font-size:40px!important">Red Flags</h2>
						<h2 class="text-slider2">
                            Alertas tempranas, decisiones inteligentes La sección "Banderas Rojas" es tu herramienta de análisis de riesgos en las contrataciones públicas. Aprende cómo identificar señales de alerta y potenciales riesgos en los procesos de compra del gobierno. Con nuestra guía sencilla, estarás equipado para detectar y cuestionar irregularidades.
						</h2>

					</div>

                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<img src="/elementos/rerdflags/REDF-05.png">

					</div>
				</div>
			</div>
        </section>

        <div class="pt-80 pb-0" style="background-color: #e7ecf3; overflow: hidden ;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="m-auto" src="/elementos/rerdflags/ICONO-26.png">
                    <br>
                    <h1 class="text-titles">Red Flags</h1>
                </div>
            </div>
        </div>

        <div class=" h-100 py-6" style="background-color: #e7ecf3;">
            <div>
                <iframe style="height: 1000px; padding: 0 10%;" src="https://redflagsrc.onrender.com/"></iframe>
            </div>  
        </div>
        

        <!-- redflags -->
        <!-- <div class="container pt-80 pb-80">
            <div class="row"> -->
                <!-- <div class="col-lg-12 my-4">
                    <h1 class="text-titles">Quieres ver más sobre nuestros Red Flags</h1>
                </div>
                {% for redflag in collections.redflags %}
                <div class="col-lg-4 my-4 ">
                    <a href="{{redflag.url}}"><img src="{{redflag.data.image}}"></a>
                </div>
                {% endfor %} -->

                <!-- <div class="col-lg-4  my-4 ">
                    <div class="video-wrapper">
                        <div class="video-cover" onclick="playVideo(this)">
                            <img src="/elementos/rerdflags/WEB_IMG-16.png" alt="Cover" style="width:100%;height:260px;cursor:pointer;">
                        </div>
                        <video class="video-element" width="100%" height="200" loop>
                            <source src="/elementos/redflag5.mp4" type="video/mp4">
                            Tu navegador no soporta videos HTML5.
                        </video>
                    </div>
                </div> -->
            <!-- </div>
        </div> -->


{% endblock %}

{% block body_javascripts %}


<!-- <script>

function playVideo(cover) {
  // Encuentra el contenedor padre
  var container = cover.parentElement;

  // Oculta la portada
  cover.style.display = 'none';

  // Encuentra el video dentro del contenedor y lo reproduce
  var video = container.querySelector('.video-element');
  video.play();
}

</script> -->

{% endblock %}