---
permalink: "/redflags/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Red Ciudadana - RedFlags</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image: url('/elementos/rerdflags/REDF-12.png');background-size:100%;background-repeat:no-repeat;background-position: center;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-lg-8 col-md-12 col-sm-12 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<h2 class="text-slider" style="font-size:40px!important">Red Flags</h2>
						<h2 class="text-slider2">
                            Alertas tempranas, decisiones inteligentes La sección "Banderas Rojas" es tu herramienta de análisis de riesgos en las contrataciones públicas. Aprende cómo identificar señales de alerta y potenciales riesgos en los procesos de compra del gobierno. Con nuestra guía sencilla, estarás equipado para detectar y cuestionar irregularidades.
						</h2>

					</div>

                    <div class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-end align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">

						<img src="/elementos/rerdflags/REDF-05.png">

					</div>
				</div>
			</div>
        </section>

        <!-- redflags -->
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <h2 class="text-slider" style="font-size:40px!important">Red Flag 1</h2>
                    <h2 class="text-slider3 mb-40" style="text-align: justify;">
                        Se orienta hacia la identificación de aquellos procesos de licitación cuya extensión temporal, desde su anuncio oficial hasta la adjudicación final, supera un umbral predeterminado, como podrían ser 120 días. Este indicador es crucial ya que una duración prolongada puede revelar una serie de problemáticas subyacentes en el proceso de contratación, tales como ineficiencias operativas, complicaciones de índole legal, o incluso conductas que comprometan la transparencia y equidad del proceso.
                        Una duración excesiva no solamente implica potenciales retrasos en la entrega de proyectos o servicios esenciales, sino que también puede disuadir a potenciales oferentes de participar en futuras licitaciones, limitando así la competencia y posiblemente incrementando los costos para la entidad contratante. Este tipo de situaciones es especialmente relevante en contextos donde la rapidez y eficiencia en la asignación y utilización de recursos públicos son fundamentales para satisfacer las necesidades de la comunidad y asegurar el desarrollo sostenible.                    
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <video width='100%' height='500' autoplay loop> 
                        <source src="/elementos/redflag1.mp4" >
                    </video>
                </div>
            </div>
        </div>

        <!-- redflags -->
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <h2 class="text-slider" style="font-size:40px!important">Red Flag 2</h2>
                    <h2 class="text-slider3 mb-40" style="text-align: justify;">
                        La nueva señal de alerta o "red flag" que hemos desarrollado tiene como objetivo identificar aquellos concursos de contratación pública cuya duración, es decir, el periodo entre la fecha de publicación del concurso y la fecha límite para la recepción de ofertas, es sospechosamente corta, específicamente menos de dos días. Esta métrica es particularmente útil para resaltar procesos de licitación que podrían estar diseñados para restringir la competencia al no proporcionar a los posibles licitantes suficiente tiempo para preparar y presentar ofertas competitivas.
                        Una duración tan corta en un proceso de licitación puede ser indicativa de varias prácticas preocupantes, como favoritismo hacia ciertos proveedores que ya estaban informados del concurso con antelación, o un intento de limitar la participación en la licitación a un círculo cerrado de oferentes, reduciendo así la transparencia y la equidad del proceso de contratación. Tales prácticas no solo van en contra de los principios de competencia justa y abierta, sino que también pueden resultar en que la entidad contratante no obtenga el mejor valor por su dinero, dado que la competencia limitada frecuentemente conduce a precios más altos y a una menor calidad en los bienes o servicios adquiridos.   
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <video width='100%' height='500' autoplay loop> 
                        <source src="/elementos/redflag2.mp4" >
                    </video>
                </div>
            </div>
        </div>

        <!-- redflags -->
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <h2 class="text-slider" style="font-size:40px!important">Red Flag 3</h2>
                    <h2 class="text-slider3 mb-40" style="text-align: justify;">
                        El principal objetivo de esta red flag es resaltar posibles ineficiencias o irregularidades en el proceso de adjudicación de contratos. Un retraso significativo puede ser indicativo de varios problemas, tales como:
                        
                        <ul style="list-style: disc; margin-left: 20px;">
                            <li>Disputas Legales: Puede que existan impugnaciones o reclamaciones por parte de los licitantes no favorecidos, lo que podría retrasar el proceso de formalización.</li>
                            <li>Reconsideración de Decisiones: La entidad puede estar reconsiderando la adjudicación debido a la detección de errores en el proceso de evaluación o en la oferta del adjudicatario.</li>
                            <li>Negociaciones Inapropiadas: Después de la decisión de adjudicación, podrían surgir negociaciones no éticas que busquen modificar términos del contrato de manera ventajosa para alguna de las partes.</li>
                            <li>Problemas Administrativos o Burocráticos: Retrasos en la formalización también pueden ser resultado de ineficiencias administrativas dentro de la entidad contratante.</li>
                        </ul>
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <video width='100%' height='500' autoplay loop> 
                        <source src="/elementos/redflag3.mp4" >
                    </video>
                </div>
            </div>
        </div>

        <!-- redflags -->
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <h2 class="text-slider" style="font-size:40px!important">Red Flag 4</h2>
                    <h2 class="text-slider3 mb-40" style="text-align: justify;">
                        Está diseñada para identificar a aquellos concursantes que aparecen una o dos veces en el conjunto total de concursos registrados dentro de una base de datos de contratación pública. Este indicador busca resaltar la participación de entidades que, por su escasa presencia en licitaciones, podrían considerarse atípicas o merecedoras de un análisis más profundo. La razón para focalizar en estos concursantes es múltiple y puede abarcar desde la detección de nuevas empresas intentando ingresar al mercado hasta la identificación de empresas potencialmente creadas para participar en concursos específicos, pasando por la posibilidad de encontrar prácticas que limiten la competencia justa y abierta.
                        El objetivo principal detrás de esta red flag es promover la transparencia y la equidad en los procesos de contratación pública. Al identificar a estos concursantes inusuales, se pueden tomar medidas para investigar su historial, capacidad, y legitimidad, asegurando así que todos los participantes en una licitación cumplen con los requisitos y están en igualdad de condiciones para competir. Este análisis también puede ayudar a prevenir el favoritismo, el fraude, y otras prácticas anticompetitivas que podrían afectar negativamente la calidad y el costo de los bienes y servicios adquiridos por entidades públicas.                    
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <video width='100%' height='500' autoplay loop> 
                        <source src="/elementos/redflag4.mp4" >
                    </video>
                </div>
            </div>
        </div>

        <!-- redflags -->
        <div class="container pt-80 pb-80">
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <h2 class="text-slider" style="font-size:40px!important">Red Flag 5</h2>
                    <h2 class="text-slider3 mb-40" style="text-align: justify;">
                        Está diseñada para identificar concursos de contratación pública donde el monto adjudicado se aleja significativamente del promedio de montos adjudicados para concursos similares dentro de una misma categoría. Este análisis permite detectar casos en los que el monto adjudicado puede ser inusualmente alto o bajo en comparación con lo que es típico para ese tipo de contrato, lo que podría señalar varias situaciones que requieren atención.
                        El objetivo detrás de esta señal de alerta es doble. Por un lado, busca asegurar la eficiencia en la asignación de recursos públicos, garantizando que los montos adjudicados reflejen de manera justa el valor de mercado de los bienes o servicios contratados. Por otro lado, sirve como mecanismo de control para prevenir y detectar posibles irregularidades, como sobreprecios, subprecios, o prácticas anticompetitivas que podrían indicar colusión entre oferentes, favoritismo hacia ciertos proveedores, o incluso corrupción.        
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-xl-10 col-sm-12 col-md-12 mb-40 m-auto">
                    <video width='100%' height='500' autoplay loop> 
                        <source src="/elementos/redflag5.mp4" >
                    </video>
                </div>
            </div>
        </div>


{% endblock %}

{% block body_javascripts %}


{% endblock %}